name: Build image from master

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
      image_label:
        required: true
        type: string
      branch:
        required: true
        type: string

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Super-Linter
      uses: github/super-linter@v4.9.7
      env:
        VALIDATE_ALL_CODEBASE: false
        DEFAULT_BRANCH: ${{ inputs.branch }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: [linter]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Docker Login
      # You may pin to the exact commit or the version.
      uses: docker/login-action@v2.0.0
      with:
        # Username used to log against the Docker registry
        username: ${{ secrets.DOCKER_USERNAME }}
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v3.1.1
      with:
        context: .
        push: true
        tags: ${{ inputs.image_tag }}
        labels: ${{ inputs.image_label }}

