name: Jira release

on:
  workflow_call:

jobs:
  jira-release:
    name: Create Jira release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Get version
        run: echo "VERSION=$(git tag --sort=-creatordate | head -1)" >> $GITHUB_ENV

      - name: Get previous version
        run: |
          echo "PREVIOUS_VERSION=$(git tag --sort=-creatordate | head -2 | awk '{split($0, tags, "\n")} END {print tags[1]}')" >> $GITHUB_ENV

      - name: Get data json
        run: |
          print '{"issues”:[' >> jira-data.json
          print 'KA-12 ' >> jira-data.json 
          print '], "data": {"releaseVersion”:”' >> jira-data.json 
          print '5.3.2' >> jira-data.json
          print '”, “versionName”:”' >> jira-data.json
          print '5.3.3' >> jira-data.json
          print '”}}' >> jira-data.json 
          cat jira-data.json


#      - name: Deploy Stage
#        uses: fjogeleit/http-request-action@v1
#        with:
#          url: ${{ secrets.JIRA_WEBHOOK_RELEASES }}
#          method: 'POST'
#          username: ${{ secrets.AWX_USER }}
#          password: ${{ secrets.AWX_PASSWORD }}
#          customHeaders: '{"Content-Type": "application/json"}'
#          data: ${{ "{\"issues\”:[\"\"], \"data\": {\"releaseVersion”:\”\”, \“versionName\”:\”5.3.3\”}}" }}
